<% obj.each do |article| %>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" align="center">
                   <h2>"<%= link_to article.title, article_path(article) %>"</h2>
                   <hr>
                    <small>Created By: <strong><%= article.user.username if article.user %></strong> 
                            <%= time_ago_in_words(article.created_at) %> ago,
                            Last Updated:  <%= time_ago_in_words(article.updated_at) %>
                    </small>
                </div>
            </div>
            <div class="panel-body">
                <%= truncate(article.description, length: 200) %>
                 </br>
                 <%= link_to "Read More", article_path(article), class: "btn btn-lg btn-default" %>
            </div>
            <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                <div class="article-actions" align="right">
                    <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-info" %>
                    <%= link_to "Delete", article_path(article), method: :delete,
                                    data: { confirm: "Are you sure you want to delete this article?"},
                                    class: "btn btn-xs btn-danger" %>
                                    
                </div>
            <% end %>
        
        </div>
    
    </div>

</div>

<% end %>