<div class="row">
    <div class="col-xs-12 col-md-8">
        <!-- render a button when user has no articles -->
        <div align="center">
            <% if (current_user == @user) and (@user_articles.count == 0 ) %>
                <p class="profile-text" align="center">We can see that you have not posted an article, yet.</p>
                <%= link_to "Write Your First Article", new_article_path, class: "btn btn-lg btn-default" %>
            <% end %> 
        </div>
                
        <% obj.each do |article| %>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                           <h2>"<%= link_to article.title, article_path(article) %>"</h2>
                        </div>
                    </div>
                    <div class="panel-body">
                         <small>Created By: <strong><%= article.user.username if article.user %></strong> 
                                    <%= time_ago_in_words(article.created_at) %> ago,
                                    Last Updated:  <%= time_ago_in_words(article.updated_at) %>
                            </small>
                            </br>
                            <hr>
                        <%= truncate(article.description, length: 250) %>
                        </br>
                        <%= link_to "Read More", article_path(article), class: "btn btn-lg btn-default" %>
                         </br>
                          </br>
                        <% if article.categories.any? %>
                            <p id="tags">Tags: <%= render article.categories %></p>
                        <% end %>
                    </div>
                    
                    <% if logged_in? && (current_user == article.user || current_user.admin?) %>
                        <div class="article-actions" align="right">
                            <%= link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-success" %>
                            <%= link_to "Delete", article_path(article), method: :delete,
                                            data: { confirm: "Are you sure you want to delete this article?"},
                                            class: "btn btn-xs btn-danger" %>
                                            
                        </div>
                    <% end %>
                
                </div>
            
            </div>
        
        </div>
        
        <% end %>
    </div>    
    <div class="col-sm-6 col-md-4">
        <h2 class="sidebar-title2">Categories</h2>
        <div class="list-group">
            <% Category.all.each do |category |%>
                <!--<button type="button" id="cat-list" class="list-group-item">-->
                    <%= link_to "#{category.name}", category_path(category) , class: "badge" %>
                <!--</button>-->
            <% end %>
        </div>
    </div>
        
        
    
</div>     