
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title" align="center">
                    <h2 class="title">"<%= @article.title %>" </h2>
                    <% if @article.user %>
                            <ul class="listing" align="center">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <li>Written by:</li>
                                        <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
                                        <li class="article-title">
                                            <%= link_to @article.user.username, user_path(@article.user) %>
                                        </li>
                                        <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
                                    </div>
                                </div>
                            </ul>
                    <% end %>
                </div>
            </div>
        
            <div class="panel-body">  
                <h4 class="description"><strong>Description:</strong></h4>
                <hr>
                <%= simple_format(@article.description) %>
                <% if @article.categories.any? %>
                    <p>Tags: <%= render @article.categories %></p>
                <% end %>
            </div>
                <div class="article-actions" align="right">
                <% if logged_in? &&  (current_user == @article.user || current_user.admin?) %>
                    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-xs btn-info" %>
                    <%= link_to "Delete Article", article_path(@article), method: :delete,
                                                        data: { confirm: "Are you sure you want to delete the article?"},
                                                        class: "btn btn-xs btn-danger" %>
                <% end %>
                    <%= link_to "Back to All Articles", articles_path, class: "btn btn-xs btn-warning" %>
                </div>
        </div>    
    </div>
</div>